<div className="navbar">
  <div className="links">
    <div className="section">
      <a href="/api/products"> Productos </a>
      <a href="/api/carts"> Carts </a>
      <a href="/api/chats"> Chat </a>
    </div>
  </div>
</div>
<div>
  <h1>Carrito: {{cart._id}}</h1>
</div>
<div class="container">
  {{#each cart.products}}
    <div class="product">
      <p> {{this.product.title}} </p>
      <p> {{this.product.thumbnail}} </p>
      <p> {{this.product.description}} </p>
      <p> {{this.product.category}} </p>
      <div>
        <p> Precio: {{this.product.price}} </p>
        <p> Stock: {{this.product.stock}} </p>
      </div>
    </div>

  {{/each}}
</div>