<div class="containerProducts">
  <div class="dataUser">
    <h2>Bienvenido {{user.first_name}}</h2>
    <p>Tu email es: {{user.email}}</p>
    <p>Tu edad es: {{user.age}}</p>
    <h3>Usted es un {{user.rol}}</h3>
    <a href="/api/session/logout"><button class="btn">Salir</button></a>
  </div>

  <div>
    <h1>Productos:</h1>
  </div>
  <div class="container">
    {{#each products}}
      <div class="product">
        <p> {{this.title}} </p>
        {{#each this.thumbnail}}
          <p> <img src="{{this}}" class="imgProduct" alt="img"/></p>
        {{/each}}

        <p> {{this.description}} </p>
        <p> {{this.category}} </p>
        <div>
          <p> {{this.price}}$</p>
          <p> Stock: {{this.stock}} </p>
        </div>
        <div>
          <button class="btn">Agregar al carrito</button>
        </div>
      </div>

    {{/each}}
  </div>

  <div class="page">
    {{#if hasPrevPage}}
      <a href="/profile/products?page={{prevPage}}&limit={{limit}}"><button>
          Anterior
        </button></a>
    {{/if}}

    {{#if hasNextPage}}
      <a href="/profile/products?page={{nextPage}}&limit={{limit}}"><button>
          Siguiente
        </button></a>
    {{/if}}
  </div>
</div>

<link rel="stylesheet" href="/css/products.css" />