<div class="containerProducts">
  <a href="/profile/current">
    <button class="btn">
      Mi Perfil
    </button>
  </a>
  <div>
    <h1>Productos:</h1>
  </div>
  <div class="container">
    {{#each products}}
      <div class="product">
        <p>{{this.title}}</p>
        {{#each this.thumbnail}}
          <p><img src="{{this}}" class="imgProduct" alt="img" /></p>
        {{/each}}
        <p>{{this.description}}</p>
        <p>{{this.category}}</p>
        <div>
          <p>{{this.price}}$</p>
          <p>Stock: {{this.stock}}</p>
        </div>
        <div>
          <button class="btn">
            Agregar al carrito
          </button>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="page">
    {{#if hasPrevPage}}
      <a href="/profile/products?page={{prevPage}}&limit={{limit}}">
        <button class="btn">
          Anterior
        </button>
      </a>
    {{/if}}

    {{#if hasNextPage}}
      <a href="/profile/products?page={{nextPage}}&limit={{limit}}">
        <button class="btn">
          Siguiente
        </button>
      </a>
    {{/if}}
  </div>
</div>

<link rel="stylesheet" href="/css/products.css" />
<script src="/js/cart.js"></script>