<div>
  <div>
    <h1>Crear Producto</h1>
    <form action="" id="form">
      <label>Titulo</label>
      <input id="titulo" />

      <label>Descripcion</label>
      <input id="descripcion" />

      <label>Precio</label>
      <input id="precio" />

      <label>Status</label>
      <input id="status" />

      <label>Thumbnail</label>
      <input id="thumbnail" />

      <label>Code</label>
      <input id="code" />

      <label>Stock</label>
      <input id="stock" />

      <button type="button" id="boton" onclick="getData()">Enviar</button>
    </form>
  </div>
  <div>
    {{! lista de todos los productos agregados hasta el momento }}
    <h1>Lista de productos:</h1>
    <br /><br />
    {{#each productos}}
      <p>Titulo: {{title}}</p>
      <p>Descripcion: {{description}}</p>
      <p>Precio: {{price}}</p>
      <p>Status: {{status}}</p>
      <p>Thumbnail: {{thumbnail}}</p>
      <p>Code: {{code}}</p>
      <p>Stock: {{stock}}</p>
      <p>Id: {{id}}</p>
      <br /><br />
    {{/each}}
  </div>

  <p id="log"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>